@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
body{
background-image: url("3.png");
background-size: 1540px;
overflow: hidden;
}
.para1{
    font-family: "Cabin Sketch", fantasy;
    color: #00b7ff;
    font-size: 29px;
    margin-left: 40px; 
    margin-top: 0px; 
}
.para2{
    font-family: "Cabin Sketch", fantasy;
    color: #ff6beb; 
    font-size: 29px; 
    margin-left: 40px;
    margin-top: -20px;   
}
.left{
    transform: scale(0.040);
    margin-top: -1505px;
    margin-left: 1200px;
    }
    .right{
    transform: scale(0.040);
    margin-top: -1460px;
    margin-left: 1340px;
    }
